<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1035075506580-59vgln601u0bgv1he6645rhof1nt31pe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1035075506580-59vgln601u0bgv1he6645rhof1nt31pe</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1035075506580-3kof887vb36b6res4m0ejg9dn0dnep4j.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAePVFQyN3zfvPyZDsOdcSm_zjnyieqJhI</string>
	<key>GCM_SENDER_ID</key>
	<string>1035075506580</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.knut.recipick</string>
	<key>PROJECT_ID</key>
	<string>recipick-auth</string>
	<key>STORAGE_BUCKET</key>
	<string>recipick-auth.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1035075506580:ios:d91fc91d99756227daff81</string>
</dict>
</plist>
